<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 定义rabbitmq connectionFactory -->
    <!--确认模式默认关闭，需要手动开启-->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"
                               confirm-type="CORRELATED"
                               publisher-returns="true"
    />
    <!--定义管理交换机、队列-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--
    定义持久化队列，不存在则自动创建；不绑定到交换机则绑定到默认交换机
    默认交换机类型为direct，名字为：""，路由键为队列的名称
    -->
    <rabbit:queue id="direct_queue" name="direct_queue" auto-declare="true"/>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~广播；所有队列都能收到消息~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--定义广播交换机中的持久化队列，不存在则自动创建-->
    <rabbit:queue id="fanout_queue_1" name="fanout_queue_1" auto-declare="true"/>

    <!--定义广播交换机中的持久化队列，不存在则自动创建-->
    <rabbit:queue id="fanout_queue_2" name="fanout_queue_2" auto-declare="true"/>

    <!--定义广播类型交换机；并绑定上述两个队列-->
    <rabbit:fanout-exchange id="fanout_exchange" name="fanout_exchange" auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="fanout_queue_1"/>
            <rabbit:binding queue="fanout_queue_2"/>
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~通配符；*匹配一个单词，#匹配多个单词 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--定义广播交换机中的持久化队列，不存在则自动创建-->
    <rabbit:queue id="topic_queue_star_key" name="topic_queue_star_key" auto-declare="true"/>
    <!--定义广播交换机中的持久化队列，不存在则自动创建-->
    <rabbit:queue id="topic_queue_hash_key1" name="topic_queue_hash_key1" auto-declare="true"/>
    <!--定义广播交换机中的持久化队列，不存在则自动创建-->
    <rabbit:queue id="topic_queue_hash_key2" name="topic_queue_hash_key2" auto-declare="true"/>

    <rabbit:topic-exchange id="topic_exchange" name="topic_exchange" auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="topic_queue_star_key" pattern="eric.*"/>
            <rabbit:binding queue="topic_queue_hash_key1" pattern="eric.#"/>
            <rabbit:binding queue="topic_queue_hash_key2" pattern="spring.#"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--定义rabbitTemplate对象操作可以在代码中方便发送消息-->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>

    <!--消息的可靠性投递-->
    <rabbit:queue id="confirm_queue" name="confirm_queue"/>
    <rabbit:direct-exchange id="confirm_exchange" name="confirm_exchange">
        <rabbit:bindings>
            <rabbit:binding queue="confirm_queue" key="confirm"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue name="ttl_queue" id="ttl_queue">
        <rabbit:queue-arguments>
            <!--x-message-ttl指队列的过期时间-->
            <entry key="x-message-ttl" value="10000" value-type="java.lang.Integer"/>
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:topic-exchange name="ttl_exchange">
        <rabbit:bindings>
            <rabbit:binding pattern="ttl.#" queue="ttl_queue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--
        死信队列：
            1. 声明正常的队列(test_dlx_queue)和交换机(test_dlx_exchange)
            2. 声明死信队列(queue_dlx)和死信交换机(exchange_dlx)
            3. 正常队列绑定死信交换机
                设置两个参数：
                    * x-dead-letter-exchange    : 死信交换机名称
                    * x-dead-letter-routing-key : 发送给死信交换机的Routing Key
    -->
    <!-- 1. 声明正常的队列(test_dlx_queue)和交换机(test_dlx_exchange) -->
    <rabbit:queue name="test_dlx_queue" id="test_dlx_queue">
        <!--3. 正常队列绑定死信交换机-->
        <rabbit:queue-arguments>
            <!--3.1 x-dead-letter-exchange：死信交换机名称-->
            <entry key="x-dead-letter-exchange" value="dlx_exchange"/>
            <!--3.2 x-dead-letter-routing-key：发送给死信交换机的routing key-->
            <entry key="x-dead-letter-routing-key" value="dlx.test"/>
            <!--4.1 设置队列的过期时间 ttl-->
            <entry key="x-message-ttl" value="10000" value-type="java.lang.Integer"/>
            <!--4.2 设置队列的长度限制 max-length -->
            <entry key="x-max-length" value="10" value-type="java.lang.Integer"/>
        </rabbit:queue-arguments>
    </rabbit:queue>
    <rabbit:topic-exchange name="test_dlx_exchange">
        <rabbit:bindings>
            <rabbit:binding pattern="test.dlx.#" queue="test_dlx_queue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!-- 2. 声明死信队列(dlx_queue)和死信交换机(dlx_exchange) -->
    <rabbit:queue name="dlx_queue" id="dlx_queue"/>
    <rabbit:topic-exchange name="dlx_exchange">
        <rabbit:bindings>
            <rabbit:binding pattern="dlx.#" queue="dlx_queue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>


    <!-- 延迟队列：
        1. 定义正常交换机（order_exchange）和队列(order_queue)
        2. 定义死信交换机（order_dlx_exchange）和队列(order_dlx_queue)
        3. 绑定，设置正常队列过期时间为30分钟
    -->
    <!-- 1. 定义正常交换机（order_exchange）和队列(order_queue)-->
    <rabbit:queue id="order_queue" name="order_queue">
        <!-- 3. 绑定，设置正常队列过期时间为30分钟-->
        <rabbit:queue-arguments>
            <entry key="x-dead-letter-exchange" value="order_dlx_exchange"/>
            <entry key="x-dead-letter-routing-key" value="dlx.order.cancel"/>
            <entry key="x-message-ttl" value="10000" value-type="java.lang.Integer"/>
        </rabbit:queue-arguments>
    </rabbit:queue>
    <rabbit:topic-exchange name="order_exchange">
        <rabbit:bindings>
            <rabbit:binding pattern="order.#" queue="order_queue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--  2. 定义死信交换机（order_dlx_exchange）和队列(order_dlx_queue)-->
    <rabbit:queue id="order_dlx_queue" name="order_dlx_queue"/>
    <rabbit:topic-exchange name="order_dlx_exchange">
        <rabbit:bindings>
            <rabbit:binding pattern="dlx.order.#" queue="order_dlx_queue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

</beans>
